<div class="list-div">
  <h1>{{ subTitle | capitalize }}</h1>
  <ul class="list" *ngFor="let item of products">
    <li>
      {{ item.id }}: {{ item.name | uppercase }} - {{ item.desc | titlecase }}
      &nbsp;- &nbsp;
      <div
        [ngStyle]="{
          color: item.inStock ? 'green' : 'red',
          display: 'inline-block'
        }"
      >
        <span *ngIf="item.inStock">Available</span>
        <span *ngIf="!item.inStock">Out of Stock</span>
      </div>
    </li>
  </ul>
  <p>Value: {{ value | number : "3.1-2" }}</p>
  <p>Percent: {{ percentage | percent : "1.1-2" }}</p>
  <p>State: {{ state | titlecase }}</p>
  <p>Company: {{ company | slice : -4 }}</p>

  {{ arr }}

  <ul *ngFor="let item of person | keyvalue">
    <li>{{ item.key }} - {{ item.value }}</li>
  </ul>
  {{ person | json }}
</div>
